<footer>
  <div id="bio">
    <div id="bio-image">
      <img src="{{ site.author.avatar }}" alt="site.author.full_name">
    </div>

    <div id="bio-text">
      <p>I'm <b>{{ site.author.full_name }}</b>.</p>
      <p>{{ site.author.description }}</p>

      <div id="bio-social">
        {% include social-footer.html %}
      </div>
    </div>
  </div>

  {% unless page.skip_related %}
  <aside>
    <h3>Further reading</h3>
    <ul class="posts">
      {% if page.tags %}
        {% assign sn = page.tags.first %}
        {% for post in site.tags[sn] limit:3 %}
          {% unless page.title == post.title %}
            <li><a href="{{ post.url }}">{{ post.title }}</a></li>
          {% endunless %}
        {% endfor %}
      {% else %}
        {% for post in site.related_posts limit:3 %}
          {% unless page.title == post.title %}
            <li><a href="{{ post.url }}">{{ post.title }}</a></li>
          {% endunless %}
        {% endfor %}
      {% endif %}
    </ul>
  </aside>
  {% endunless %}
</footer>
