<header class="navigation">
  {% if site.header.display_type == "image" %}
    <a href="/" class="logo" title="Reference Error">
      <img src="{{ site.header.image }}" alt="Reference Error">
    </a>
  {% else %}
    <div id="header-title">
      <a href="/" class="logo" title="Reference Error">{{ site.header.description }}</a>
    </div>
  {% endif %}

  {% include social-header.html %}

  <nav>
    <ul>
      <li><a href="/logs">logs</a></li>
      <li><a href="/writing">writing</a></li>
      <li><a href="/talks">talks</a></li>
      <li><a href="/about">about</a></li>
      <li class="no-bullet"><a href="/atom.xml">rss</a></li>
    </ul>
  </nav>
</header>
