$sans-serif-article: 'Alegreya Sans', sans-serif;
$sans-serif-article-2: 'Alegreya Sans', sans-serif;
$default-font-family: 'Alegreya Sans', sans-serif;

$accent-color: #40526b;
$accent-secondary: #FFDC00;
$nav-height: 50px;

$light-gray: transparentize($base-font-color, .6);
