@font-face {
  font-family: ebgaramond;
  src: url('/assets/fonts/ebgaramond.otf');
}
@font-face {
  font-family: ebgaramond_cap;
  src: url('assets/fonts/ebgaramondsc.otf');
}
@font-face {
  font-family: opensans;
  src: url('assets/fonts/OpenSans-Regular.otf');
}
@font-face {
  font-family: opensans;
  font-weight: bold;
  src: url('assets/fonts/OpenSans-Bold.otf');
}
@font-face {
  font-family: opensans;
  font-weight: italic;
  src: url('assets/fonts/OpenSans-Italic.otf');
}
@font-face {
  font-family: opensans;
  font-weight: bold | italic;
  src: url('assets/fonts/OpenSans-BoldItalic.otf');
}
p,
div {
  font-size: 14px;
}
