.last_updated{font-family:opensans_italic,"Helvetica Neue",Helvetica,Arial,sans-serif;float:right;color:#325f6b;border-radius:3px 3px 3px 3px;text-decoration:none;padding:3px 6px;margin:2px}
p{text-align: justify;}
/*.linenos{width: 40px;}*/
/* div .linenodiv > pre {padding-left: 5px; padding-right: 5px;} */