<link rel="stylesheet" type="text/css" href="/assets/css/index.css">

<div class="page-header">
  <h1>{{ page.title }}<h1>
  {% if page.tagline %}<h1 class='indextagline'><small class='indextagline'>{{ page.tagline }}</small></h1>{% endif %}
</div>

<div class="row">
  <div class="span9">
     {{ content }}
  </div>

  <div class="span3 span_right">
    <p style='margin-bottom: 2px;'><a href='/atom-posts.xml'><img src='/assets/images/feed-icon.png' width='16px' style='margin-top: -3px;' /> RSS Posts</a><br />
    <a href='/atom-pages.xml'><img src='/assets/images/feed-icon.png' width='16px' style='margin-top: -3px;' /> RSS Pages</a></p>
  </div>

  <div class='span3 span_right'>
    <p style='margin-bottom: 2px;'><strong>Latest Changes</strong></p>
    <p>Watch my repository <a href='https://github.com/CMPITG/cmpitg.github.com'>changes on Github</a></p>
  </div>

  <div class='span3 span_right'>
    <p style='margin-bottom: 2px;'><strong>Archive</strong></p>
  </div>

  {% include custom/last_updated %}
</div>
